@font-face {
    font-family: "Croissant One";
      src: url('CroissantOne-Regular.ttf');
  }
  
html {
    font-size: 18px;
    background-color: rgb(226, 238, 255);
}

/* Header */
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4.30rem;
    padding: 0 12%;
    background-color: white;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.05);
    font-family: Verdana, sans-serif;
    font-size: .90rem;
    font-weight: bold;
}

h1 {
    font-weight: 900;
    font-family: "Monoton";
    padding-top: 0%;
}

.header .logo {
    font-family: "Cedarville Cursive";
    flex-grow: 3;
    color: #0195da;
    font-size: 1.5rem;
}

.header li {
    display: inline;
    padding-right: 2.22rem;
}
  
.header li a {
    text-decoration: none;
    color: #4a4a4a;
}

.btn-main {
    padding: 1.25rem 3.75rem;
    border-radius: 3px;
    background-color: orange;
    font-family: "Mukta";
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30rem;
    background: url("del1.png") center center no-repeat;
    background-size: cover;
    color: white;
    background-color: rgb(226, 238, 255);
}

.table h1 {
    font-size: 20px;
    color: #8c6b48;
    background-color: white;
}
  
h2 {
    font-size: 19px;
    padding: 2px;
    text-transform: uppercase;
}
  
h3 {
    font-size: 15px;
    padding: 5px;
    text-transform: uppercase;
    text-align: left;
    margin-left: 15px;
    font-weight: 300;
    line-height: 0.9;
    letter-spacing: 0.8px;
}

th {
    border: 2px solid #8c6b48;
}
  
table {
    text-align: center;
    margin: 20px auto;
}
  
td {
    border: 2px solid #8c6b48;
    width: 400px;
}
  
.container {
    max-width: 900px;
    margin: 0 auto;
}
  
.left {
    width: 250px;
}

.journal {
    padding: 0 25% 0.5rem 25%;
    color: #4a4a4a;
    font-family: "Work Sans", serif;
}

.photo {
    width: 120%;
    padding: 1.11rem;
    border-radius: 3px;
    margin: 0 auto 4.44rem auto;
    background-color: white;
    font-family: "Merriweather";
}

.photo .image-container {
    overflow: hidden;
    margin-bottom: 1.11rem;
}

.photo .image-container img {
    width: 100%;
}

.photo .caption {
    font-style: italic;
    font-family: serif;
}

.photo.first {
    position: relative;
    top: -2.77rem;
    margin-bottom: 1.67rem;
}

p {
    padding-bottom: 2.77rem;
    font-size: 1rem;
    font-family: "Open Sans";
}

#photo {
    position: relative;
    text-align: center;
    top: 30px;
    padding-top: 5%;
}

footer {
    height: 4.30rem;
    width: 100%;
    text-align: center;
    padding: 1px;
    background-color: white;
    font-family: Verdana, sans-serif;
    font-size: .90rem;
    font-weight: bold;
}




